body {
	font-family: Open Sans;
	margin: 0px;
	padding: 0px;
	background-color: #345;
	color: white;
}

table h1, h2, h3, h4 {
	margin: 0px;
}

.considerRequest {
	padding: 10px 0px 10px 0px;
	text-align: center;
	margin: auto;
}

th, td {
	padding: 10px 15px 10px 15px;
}

.field {
	clear: both;
	text-align: right;
	line-height: 25px;
	margin: 6px;
}

tr.trHover:hover {
	background: rgba(0, 0, 0, 0.4);
	color: white;
}

.field label {
	float: left;
	padding-right: 10px;
}

.signIn {
	float: left;
	margin-bottom: 15px;
}

.table-edit {
	margin: auto;
	text-align: initial;
}

button {
	text-decoration: none;
	color: #fff;
	background: rgb(212, 75, 56);
	padding: 3px 18px;
	border: none;
	font-family: Open Sans;
	font-size: 15px;
	border: 2px solid rgb(212, 75, 56);
	border-radius: 2px;
}

button:hover {
	border: 2px solid white;
	border-radius: 2px;
	background: #345;
}

a {
	color: #fff;
	text-decoration: none;
}

.content table {
	margin: auto;
	text-align: center;
}

.content {
	margin: 0 0 15px;
}

.editContent {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	margin: auto;
	text-align: center;
}

.editFooter {
	margin: 20px 0 0 0;
	text-align: center;
}

ul.feedbackPanel {
	list-style: none;
}

div #datetime {
	font-size: 80%;
	text-align: right;
}